springdoc:
  swagger-ui:
    path: /docs
    display-request-duration: true
    operations-sorter: method
    tags-sorter: alpha
    try-it-out-enabled: true
    filter: true
    deep-linking: true
    syntax-highlight:
      activated: true
    defaultModelsExpandDepth: 1
    defaultModelExpandDepth: 1
    doc-expansion: none
  api-docs:
    path: /api-docs
